<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConsoleApp3.Properties.Settings.Connection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=.\TestMdb.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>