<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleApp3.Properties.Settings.SCROOGEConnectionString"
            connectionString="Data Source=EMP-XP;Initial Catalog=SCROOGE;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="ConsoleApp3.Properties.Settings.BazaConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\BAZA\Baza.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>